pre {
  background-color: #ffffff;
  color: #4a4a4a;
  padding: 1rem;
  font-family: monospace;
  box-shadow: $box-shadow;

  code {
    font-family: monospace;
    border: initial;
    background-color: initial;
    color: initial;
    padding: initial;
    font-size: initial;
  }
}

code {
  font-family: monospace;
  // border: solid 1px $secondary-color;
  // background-color: lighten($secondary-color, 42%);
  color: #ff5c03;
  // color: map-get($additional-colors, '.indigo');
  padding: 2px 4px;
  // font-size: 0.8em;
}